.header-datagrid {
  background-color: #cbcbcb;
  font-size: 0.9rem;
  line-height: 1.5rem;
  letter-spacing: 0.01071em;
  border-bottom: 2px solid;
}
.header-datagrid > div > div > div > div {
  font-family: "Open Sans", sans-serif;
  font-weight: bold !important;
}
